{% extends 'base.html' %}
{% load static %}


{% block content %}

    <section class="content">

        <div class="main-container new-arrivals-container">
            <h3>Новые поступления</h3>
            <div class="product-container">
                {% for product_image in products_images %}
                    {% include 'main/product_item.html' %}
                {% endfor %}
            </div>
        </div>

        <div class="main-container phones-container">
            <h3>Телефоны</h3>
            <div class="product-container">
                {% for product_image in products_images_phones %}
                    {% include 'main/product_item.html' %}
                {% endfor %}
            </div>
        </div>

        <div class="main-container laptops-container">
            <h3>Ноутбуки</h3>
            <div class="product-container">
                {% for product_image in products_images_laptops %}
                    {% include 'main/product_item.html' %}
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock %}