{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="content">
    <div class="new-arrivals-container">
        <h3>Новые поступления</h3>
        <div class="product-container">
            {% for product_image in products_images %}
            <div class="product">
                <div class="product-img">
                    <img src="{{ product_image.image.url }}" alt="Фотография {{ product_image.product.name }}">
                </div>
                <div class="product-name">
                    <h6>{{ product_image.product.name }}</h6>
                </div>
                <div class="product-description">
                    <p>{{ product_image.product.description|truncatechars_html:70 }}</p>
                </div>
                <div class="product-price">
                    <span>{{ product_image.product.price }} UAH</span>
                </div>
                <button class="btn btn-secondary">Добавить в корзину</button>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}