{% extends 'base.html' %}
{% load static %}


{% block content %}

    <section class="product-card">

        <div class="photo-container">
            {% for image_item in product.productimage_set.all %}
                <img src="{{ image_item.image.url }}">
            {% endfor %}
        </div>
        <div class="info-container">
            <div class="product-card-name">
                <h2>{{ product.name }}</h2>
            </div>
            <div class="product-card-price">
                <h1><span class="badge badge-secondary">{{ product.price }}</span> UAH</h1>
            </div>
            <button class="product-card-buy btn btn-outline-warning btn-lg">КУПИТЬ</button>

            {% include 'products/tabs.html' %}
        </div>

    </section>

{% endblock %}

