<div class="product-card-tab">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-description btn btn-secondary active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
               aria-controls="pills-home" aria-selected="true">Описание</a>
        </li>
        <li class="nav-item">

            <a class="btn btn-secondary" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
               aria-controls="pills-profile" aria-selected="false">Доставка</a>
        </li>
    </ul>
    <div class="nav-delivery tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active product-card-description" id="pills-home" role="tabpanel"
             aria-labelledby="pills-home-tab">
            <p>{{ product.description }}</p>
        </div>
        <div class="tab-pane fade product-card-delivery" id="pills-profile" role="tabpanel"
             aria-labelledby="pills-profile-tab">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quisquam.</p>
        </div>
    </div>
</div>