section.navbar {
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.navbar {
    display: flex;
    justify-content: flex-start;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 95%;
    margin: 0;
    padding: 0;
    padding-right: 100px;
}

.button {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    margin-left: 5px;
    transition: all 0.4s;
}

.button-container a {
    display: flex;
    font-size: 30px;
    align-items: center;
    height: 40px;
}


.button:hover {
    border-color: rgba(255,255,255,.3);
    color: rgba(255,255,255,.7);
    transition: all 0.4s;
}

html,
body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #343a40;
    color: #fff;
}

.wrapper {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    height: 56px;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,.1);
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.main-container h3 {
    text-transform: uppercase;
    font-weight: bold;

}

.product-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 386px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 5px;
    position: relative;
}

.product-name h6 {
    font-size: 20px;
}

.product-description {
    font-size: 12px;
}

.product-img {
    margin-bottom: 10px;
}

.product-img img {
    max-height: 153px;
}

.product-price {
    margin-top: auto;
}

.product-discount {
    width: 52px;
    border-radius: 50%;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
    line-height: 52px;
    position: absolute;
    right: 28px;
    top: 28px;
    font-size: 20px;
    color: #fff;
}

.basket-button-container {
    display: flex;
    position: relative;
}

.basket-notification {
    display: none;
    border: 2px solid red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: -35px;
    top: 5px;
    text-align: center;
    padding: 4px 2px 5px 0;
    font-size: 12px;
    font-weight: bold;
    opacity: .9;
}

/*product.html*/

.product-card {
    display: flex;
    height: 400px;
    margin: 100px 0 50px 0;
}

.photo-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.image-wrapper {
    width: 90%;
    background-color: #fff;
    opacity: .7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    max-height: 360px;
    z-index: 2;
    opacity: initial;
}

.info-container {
    width: 50%;
}

.product-card-price {
    margin-bottom: 40px;
}

.tab-content {
    width: 60%;
    color: silver;
}

#form_buying_product {
    margin-bottom: 104px;
}

input#number {
    width: 70px;
    margin-right: 7px;
}

.nav-description {
    margin-right: 7px;
}

.main_form_buying_product .form-group {
    margin-top: 10px;
    margin-bottom: 0;
}

/*checkout.html*/

.table thead th {
    border-bottom: 3px solid rgba(255, 255, 255, .1);
    color: rgba(255,255,255,.5);
}

.table td, .table th {
    border-top: 3px solid rgba(255,255,255,.1);
}

.basket-container {
    width: 75%;
    margin: auto;
    margin-top: 32px;
}

.table tbody {
    font-size: 22px;
}

#form_user_phone,
#form_user_name {
    width: 250px;
}

.product-in-basket-nmb {
    width: 100px;
}

.basket-total-container {
    display: flex;
    align-items: center;
    font-size: 27px;
    justify-content: space-between;
}

.client-info {
    display: none;
}

.button-bar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.none {
    display: none;
}

.inline {
     display: inline;
 }

.button-delete-product {
    cursor: pointer;
}