section.navbar {
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

body {
    background-color: #343a40;
    color: #fff;
}

footer {
    height: 56px;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,.1);
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.main-container h3 {
    text-transform: uppercase;
    font-weight: bold;

}

.product-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 386px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 5px;
    position: relative;
}

.product-name h6 {
    font-size: 20px;
}

.product-description {
    font-size: 12px;
}

.product-img {
    margin-bottom: 10px;
}

.product-img img {
    max-height: 153px;
}

.product-price {
    margin-top: auto;
}

.product button {
    margin: 10px auto 0 auto;
    width: 200px;
}

.product-discount {
    width: 52px;
    border-radius: 50%;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
    line-height: 52px;
    position: absolute;
    right: 28px;
    top: 28px;
    font-size: 20px;
    color: black;
}

/*product.html*/

.product-card {
    display: flex;
    margin: 50px 0;
}

.photo-container {
    display: flex;
    justify-content: center;
    width: 40%;
}

.photo-container img {
    max-height: 360px;
    max-width: 500px;
}

.info-container {
    width: 60%;
}

.product-card-buy {
    margin-bottom: 35px;
}

.product-card-price {
    margin-bottom: 70px;
}

.tab-content {
    width: 60%;
    color: silver;
}

