{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="basket">
        {% if product_in_basket %}
            <div class="basket-container main-container">
                <h3>Корзина</h3>
            </div>
            <form method="post">{% csrf_token %}

                <label>Имя</label>
                <span class="form-error">{{ form.name.errors }}</span>
                <input type="text" class="form-control" name="{{ form.name.html_name }}" value="{{ request.POST.name }}">

                <label>Телефон</label>
                <span class="form-error">{{ form.phone.errors }}</span>
                <input type="number" class="form-control" name="{{ form.phone.html_name }}" value="{{ request.POST.phone }}">

                <table class="table table-center">
                    <thead>
                        <tr>
                            <th>Название товара</th>
                            <th>Количество</th>
                            <th>Цена за еденицу</th>
                            <th>Общая цена</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for product_in_basket in products_in_basket %}
                            <tr>
                                <td>
                                    {{ product_in_basket.product.name }}
                                </td>
                                <td>
                                    <input type="number" class="product-in-basket-nmb form-control" name="product_in_basket_{{ product_in_basket.id }}" value="{{ product_in_basket.nmb }}">
                                </td>
                                <td class="product-price">
                                    {{ product_in_basket.price_per_item }}
                                </td>
                                <td class="product-total-price">
                                    {{ product_in_basket.total_price }}
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

                <div>
                    <b>Сумма заказа</b><span id="total-basket-amount">{{ total_basket_amount }}</span>
                </div>

                <div>
                    <button type="submit" class="btn btn-lg btn-success">Заказать</button>
                </div>
            </form>
        {% else %}
            <div class="basket-container main-container">
                <h3>В вашей корзине нет товаров</h3>
            </div>
        {% endif %}

    </section>
{% endblock %}